<div class="row" *ngIf="aqm">
  <div class="col-lg-4">
    <select class="form-control" (change)="selectedAQMData1($event.target.value)">
      <option [value]="Select">Select</option>
      <option *ngFor="let aqm of AQMList" [value]="aqm.stationId">{{aqm.name}}</option>
    </select>
  </div>
  <div class="col-lg-4" style="display: flex;justify-content: center;">
    <span>Last 48hrs <i class="fa fa-arrow-right" aria-hidden="true"></i></span>
  </div>
  <div class="col-lg-4">
    <select class="form-control" (change)="selectedAQMData2($event.target.value)">
      <option [value]="Select">Select</option>
      <option *ngFor="let aqm of AQMList" [value]="aqm.stationId">{{aqm.name}}</option>
    </select>    
  </div>
</div>
<div [hidden]="!NoData" style="display: flex;justify-content: center;">
  <ngx-charts-bar-horizontal [view]="view" [scheme]="colorScheme" [results]="single" [showDataLabel]="showDataLabel" [gradient]="gradient"
    [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="true" [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
  </ngx-charts-bar-horizontal>
  <ngx-charts-bar-horizontal [view]="view" [scheme]="colorScheme" [results]="StatusGraph" [showDataLabel]="showDataLabel" [gradient]="gradient"
    [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
  </ngx-charts-bar-horizontal>
</div>
<div class="row" style="padding-top: 1.5rem;">
  <div class="col-lg-6">
    <div class="row" *ngFor="let loc1 of AQMGraphLoc1" style="min-height: 100px;">
      <div class="col-lg-12">
        <ngx-charts-bar-vertical [view]="viewAQM1" [barPadding]="1" [scheme]="loc1.colorSchemeAQM" [results]="loc1.values" [showDataLabel]="false"
          [gradient]="gradient" [xAxis]="false" [yAxis]="showYAxis" [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true"
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="loc1.type" (select)="onSelect($event)" [roundEdges]="false">
        </ngx-charts-bar-vertical>
      </div>
    </div>
    <div class="col-lg-12" style="display: flex;justify-content: center;">
      <span>{{AQMGraphLoc1Nm}}</span>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="row" *ngFor="let loc2 of AQMGraphLoc2" style="min-height: 100px;">
      <div class="col-lg-12">
        <ngx-charts-bar-vertical [view]="viewAQM1" [barPadding]="1" [scheme]="loc2.colorSchemeAQM" [results]="loc2.values" [showDataLabel]="false"
          [gradient]="gradient" [xAxis]="false" [yAxis]="showYAxis" [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true"
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="loc2.type" (select)="onSelect($event)" [roundEdges]="false">
        </ngx-charts-bar-vertical>
      </div>
    </div>
    <div class="col-lg-12" style="display: flex;justify-content: center;">
      <span>{{AQMGraphLoc2Nm}}</span>
    </div>
  </div>
</div>
<!-- <div class="col-lg-12" [hidden]="NoData" style="display: flex;justify-content: center;padding: 10px;">
  <span>No Data Found to compare the given Wards, Please select.</span>
</div> -->