<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" [ngClass]="status ? 'active' : ''">
    <ul class="list-unstyled components">
      <div class="row" style="display: flex;justify-content: center;">
        <img src="./assets/Icons/reapbenefit.png" style="width: 120px;height: 40px">
      </div>
      <div class="row" style="display: flex;justify-content: center;">
        <span style="color: #525356">Neighbourhood Dashboard</span>
      </div>
      <li>
        <span>City</span>
        <select class="form-control" (change)="SelectCity($event.target.value)">
          <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
        </select>
      </li>
      <!-- <li>
                  <span>Ward</span>
                  <select class="form-control" (change)="SelectWard($event.target.value)">
                    <option *ngFor="let Ward of Wards" [value]="Ward">{{Ward}}</option>
                  </select>
                </li> -->
      <div class="row margRight">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <input type="radio" id="Governance" name="optradio" (change)="radioType($event,'Governance')" /><span
            class="margLeft">Local Governance</span>
        </div>
      </div>
      <div class="row margRight">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <input type="radio" id="Agencies" name="optradio" (change)="radioType($event,'Agencies')" /><span
            class="margLeft">Local Utilities</span>
        </div>
      </div>
      <div class="row margRight">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <input type="radio" id="ICatagory" name="optradio" (change)="radioType($event,'Issues Categories')" /><span
            class="margLeft">Issues Categories</span>
        </div>
      </div>
      <div class="row margRight" *ngFor="let category of categories">
        <div class="col-lg-12 col-md-12 col-xs-12 padLeft">
          <input type="checkbox" [checked]="category.checked" (change)="SelectedCategory($event.target.value)"
            [value]="category.value" />
          <img src="{{category.ImgSrc}}" style="width: 20px;margin-left: 0.5rem;"><span class="margLeft"
            style="font-weight: 500;">{{category.value}}</span>
        </div>
      </div>
      <div class="row margRight">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <input type="radio" id="DWCC" name="optradio" (change)="radioType($event,'DWCC')" /><span
            class="margLeft">Waste Collection Centers</span>
        </div>
      </div>
      <div class="row margRight">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <input type="radio" id="Toilet" name="optradio" (change)="radioType($event,'Toilets')" /><span
            class="margLeft">Toilets</span>
        </div>
      </div>
      <div class="row margRight">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <input type="radio" id="Campaigns" name="optradio" (change)="radioType($event,'Campaigns')" /><span
            class="margLeft">Campaigns</span>
        </div>
      </div>
      <div class="row margRight">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <input type="radio" id="AQMcheck" name="optradio" (change)="radioType($event,'AQM')" /><span
            class="margLeft">Air Quality Monitors</span>
        </div>
      </div>
      <div class="row" style="display: flex;justify-content: flex-end;padding-right: 1rem;">
        <button class="btn btn-primary" [ngClass]="showgraphs ? 'green' : ''" id="graphButton" (click)="showGraphs()"
          style="margin-left: 10px;width: 130px;">
          <span *ngIf="!showgraphs" style="color:white;">Show statistics</span>
          <span *ngIf="showgraphs" style="color:white;">Hide statistics</span>
        </button>
      </div>
      <!-- <div class="row" style="padding: 10px;">
        <span style="color: red;font-size: 12px;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Note:
          <span style="color: white;font-size: 12px;">Complete data support is available
            only for Bangalore</span></span>
      </div> -->
      <!-- <div class="row margRight" *ngFor="let AQM of AQMS">
        <div class="col-lg-12 col-md-12 col-xs-12 padLeft">
          <input type="checkbox" (change)="SelectedAQM($event.target.value)" [value]="AQM" /><span class="margLeft" style="font-weight: 500;">{{AQM}}</span>
        </div>
      </div> -->
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <div class="row" style="color: blue;">
      <div class="col-lg-1 col-xs-6 vercenter">
        <span style="cursor: pointer" (click)="closeSideNav()"><i class="fa fa-chevron-left" aria-hidden="true"></i><i
            class="fa fa-chevron-right" aria-hidden="true"></i></span>
      </div>
      <div class="col-lg-4 col-xs-12 pl-0 clearable">
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
          class="form-control searchInput" #search [formControl]="searchControl" (input)="searchText($event)"
          style="padding-right: 1.3rem;">
        <i *ngIf="showClear" class="fa fa-times clearSearch cursor" (click)="ClearSearch()" aria-hidden="true"></i>
      </div>
      <div class="col-lg-5 vercenter">
        <span class="overflow" *ngIf="wardName != undefined">Ward Id :{{wardID}} &nbsp;Ward Name :{{wardName}}</span>
      </div>
      <div class="col-lg-2 col-xs-12" style="display: flex;justify-content: flex-end;color: blue">
        <span class="vercenter" (click)="open(content,'content')"
          style="padding-left: 10px; cursor: pointer">About_Us</span>
        <span class="vercenter" (click)="open(FAQ,'FAQ')" style="padding-left: 10px; cursor: pointer">FAQ</span>
      </div>
    </div>
    <app-main-content [mapData]="mapData" [AQM]="AQM" [AQMGraphLoc]="AQMGraphLoc" [graphData]="graphData"
      [graphDataStatus]="graphDataStatus" [showComp]="showComp" [compare]="compare" [showgraphs]="showgraphs"
      [selIssCat]="selIssCat" (WardData)="WardData($event)"></app-main-content>
  </div>
</div>
<span (click)="getlocation()" class="myLoc" id="myLocation">
  <i class="fa fa-crosshairs" aria-hidden="true" style="color: black;font-size: 24px;"></i>
</span>
<span style="position: absolute;top: calc(100vh - 315px);left: 60.6%;" id="centerLocation">
  <i class="fa fa-crosshairs" aria-hidden="true" style="color: black;font-size: 24px;"></i>
</span>
<button [hidden]="true" id="dataWarning" (click)="open(cityData,'cityData')"></button>

<!-- About_Us -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">About US</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <i class="fa fa-times" aria-hidden="true" style="font-size: 18px;color: red"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="about-us">
      <p>The Neighbourhood Dashboard aggregates civic-environmental data along with governance data at a neighbourhood
        level
        for cities around India. We are displaying it on a map and presenting it to you as a set of charts.</p>
      <p>Our objective is to become the platform for</p>
      <p>- understanding what is happening in your neighourhood</p>
      <p>- holding the local governance accountable.</p>
      <p>Please Note - this data is being shown AS IS. We are not responsible for errors which might come in. However,
        please
        do inform us of errors, and if possible, we will make amends on our data.</p>
      <h4>Some Users and Use Cases</h4>
      <ul>
        <li><strong>1. Solve Ninja/Youth/Citizens - </strong>
          <ul>
            <li>Discover the existing Governance Infrastructure in your neighbourhood</li>
            <li>see visualised issues and Government Redressal mechanisms in your neighbourhood</li>
          </ul>
        </li>
        <li><strong>2. RWA/Corporator/MLA - </strong>
          <ul>
            <li>Do what the Solve Ninja/Youth/Citizen can do and</li>
            <li>Use this as a tool to make teams/agencies accountable</li>
          </ul>
        </li>
        <li><strong>3. Media and Academics - </strong>
          <ul>
            <li>Do all of the above and be able to infer how the quickly the neighbourhood responds to issues and how
              capable
              it is to resolve them quickly.</li>
          </ul>
        </li>
      </ul>
      <h4>We have data on the following levels</h4>
      <ul>
        <li><strong>Governance</strong>
          <ol>
            <li>Ward / Corporator</li>
            <li>Constituency / MLA</li>
          </ol>
        </li>
        <li><strong>Government Redressal</strong>
          <ol>
            <li>Police Stations</li>
            <li>Bus Stops</li>
            <li>Parks and Playgrounds</li>
            <li>Other Government Offices</li>
          </ol>
        </li>
        <li><strong>Issues</strong>
          <ol>
            <li>Waste - Garbage dump sites / DWCC Locations / Waste Convertor Locations / Composting Locations</li>
            <li>Water - Groundwater Quality / Lake Water Quality</li>
            <li>Pothole - Pothole Locations</li>
            <li>Air - Air Quality</li>
            <li>Sanitation - Toilet locations</li>
            <li>Education - School infrastructure data</li>
            <li>Civic - BBMP Offices</li>
            <li>Governance - Street Quality</li>
          </ol>
        </li>
      </ul>
      <h4>Data Providers</h4>
      <h4>We thank the following data providers for supplying the information used here:</h4>
      <ul>
        <li>Opencity.in</li>
        <li>FFEM</li>
        <li>Testing Waters</li>
        <li>Janaagraha</li>
        <li>National University for Educational Planning and Administration</li>
        <li>Data.gov.in</li>
        <li>Central Pollution Control Board</li>
        <li>Those Icons and FreePik on Flaticon.com</li>
      </ul>
      <h4>We thank for their support</h4>
      <ul>
        <li>Suresh Nair</li>
        <li>Sooraj Subramanian</li>
        <li>Anirudha Mysore</li>
        <li>Team Azureiken</li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Close</button>
  </div>
</ng-template>

<ng-template #FAQ let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">FAQ</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <i class="fa fa-times" aria-hidden="true" style="font-size: 18px;color: red"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="about-us">
      <div>
        <div class="faq">
          <p><strong>Why Neighbourhood dashboard?</strong></p>
          <p>To make data available to citizens to aid them in their interactions with the local government. We also
            expect
            that by providing a platform to display civic and environmental problems, we will also be able to solve them
          </p>
          <p><strong>Who are you guys?</strong></p>
          <p>We are Reap Benefit. We have created a network of about 24,000 Solve Ninjas - school students in the age
            group
            of 12-18 - who solve civic and environmental issues through a process we call DISS (Discover, Investigate,
            Solve,
            Share)
          </p>
          <p> </p>
          <p><strong>How do i become a Solve Ninja?</strong></p>
          <p>It’s quite simple. Go to the dashboard, you’ll have a set of problems in your neighbourhood that you can
            solve.
            Then you go out and solve the problem.</p>
          <p>If you need help do contact us - Download our app “Solve Ninja” to connect with us easily.</p>
          <p><strong>You guys are cool! I’d like to intern with you guys! Who do i talk to?</strong></p>
          <p>We’re always looking for interns and volunteers! Mail us at
            <u>careers@reapbenefit.org</u> for more details</p>
          <p><strong>I’d like to get to know you guys better! How do I do it?</strong></p>
          <p>We get this all the time! Relax! We’re used to it - just mail us at
            <u>info@reapbenefit.org</u>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Close</button>
  </div>
</ng-template>
<ng-template #cityData let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Warning</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <i class="fa fa-times" aria-hidden="true" style="font-size: 18px;color: red"></i>
    </button>
  </div>
  <div class="modal-body">
    <span>Currently, only Bengaluru is supported. Email "info@reapbenefit.org" if you are willing to help add your city
      here.</span>
  </div>
</ng-template>