<div class="content">
  <div class="row" style="padding: 0.5rem;">
    <div class="col-lg-12 col-md-12 col-xs-12 center">
      <app-maps-component [MapData]="MapData" (wardDetails)="wardDetails($event)"></app-maps-component>
    </div>
    <div class="col-lg-12 p-0">
      <div *ngIf="showGraphs" class="Showgraph">
        <div class="col-lg-12 col-md-12 col-xs-12 graph">
          <div class="row" style="max-height: 370px;overflow-y: auto;">
            <div class="col-lg-12" style="display: flex;justify-content: flex-end;">
              <div class="col-lg-12">
                <div class="row" [hidden]="!ShowComp">
                  <div class="col-lg-2">
                    <button class="btn btn-primary" [ngClass]="showCompare ? 'green' : ''"
                      (click)="compareMethod('compare')" style="width: 150px">
                      <span *ngIf="!showCompare">Compare Wards</span>
                      <span *ngIf="showCompare">Close Compare</span>
                    </button>
                  </div>
                  <div class="col-lg-4" *ngIf="showCompare">
                    <div class="row">
                      <div class="col-lg-12">
                        <ngx-select-dropdown (change)="compareSelected1($event)" [multiple]="false"
                          [(ngModel)]="ward1Selected" [config]="config" [options]="Wards"></ngx-select-dropdown>
                      </div>
                      <div class="col-lg-12">
                        <span *ngIf="ward1Data != undefined">{{ward1Data}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4" *ngIf="showCompare">
                    <div class="row">
                      <div class="col-lg-12">
                        <ngx-select-dropdown (change)="compareSelected2($event)" [multiple]="false"
                          [(ngModel)]="ward2Selected" [config]="config" [options]="Wards"></ngx-select-dropdown>
                      </div>
                      <div class="col-lg-12">
                        <span *ngIf="ward2Data != undefined">{{ward2Data}}</span>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-lg-2" *ngIf="showCompare">
                    <select class="form-control" (change)="StatusSelected($event.target.value)">
                      <option [value]="Select">Select</option>
                    </select>
                  </div> -->
                  <div *ngIf="!showCompare" class="col-lg-10"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <app-graphs [showPieValue]="showPie" [aqm]='aqm' [AQMGraphLocAll]="AQMGraphLocAll" [ShowComp]="ShowComp"
                [GraphDataStatus]="GraphDataStatus" [showCompare]="showCompare" [GraphData]="GraphData"
                [Compare]="Compare"></app-graphs>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>