.center{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    box-shadow: 1px 2px lightgrey;
    overflow: hidden;
}
.graph{
    height: calc(100vh - 310px);
    display: flex;
    justify-content: center;
    padding-top: 10px;    
    border: 1px solid lightgray;
    box-shadow: 1px 2px lightgrey;
    overflow: hidden;
}
.Showgraph{
    width: 100%;
    position: absolute;
    /* top: calc(100vh - 300px); */
    background: white;
    bottom:0px;
    z-index: 100;
}
@media only screen and (max-width: 450px) {
  .Showgraph {
    width: 94%;
  }
}
.green{
  background-color: #88c03e !important;
}