<agm-map #gm [latitude]="lat" [longitude]="lng" [usePanning]="true" [streetViewControl]="false" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="true" (mapClick)="mapClicked($event)" (centerChange)="centerChange($event)">
  <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m, i)" [latitude]="m.lat" [longitude]="m.lng"
    [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)" [iconUrl]="m.icon" (markerClick)="select_marker(infoWindow)">
    <agm-info-window #infoWindow>
      <div *ngIf="locationDetails.ward_id != '' && locationDetails.ward_id != undefined"><strong>Ward ID:&nbsp;</strong><span>{{locationDetails.ward_id}}</span><br></div>      
      <div *ngIf="locationDetails.wardName != '' && locationDetails.wardName != undefined"><strong>Ward Name:&nbsp;</strong><span *ngIf="locationDetails.wardName != ''">{{locationDetails.wardName}}</span><span *ngIf="locationDetails.wardName == ''">NA</span></div>
      <div *ngIf="locationDetails.name != '' && locationDetails.name != undefined"><strong>Name:&nbsp;</strong><span>{{locationDetails.name}}</span><br></div>
      <div *ngIf="locationDetails.type != '' && locationDetails.type != undefined"><strong>Type:&nbsp;</strong><span>{{locationDetails.type}}</span><br></div>
      <div *ngIf="locationDetails.streetName != '' && locationDetails.streetName != undefined"><strong>streetName:&nbsp;</strong><span>{{locationDetails.streetName}}</span> </div>
      <div *ngIf="locationDetails.address != '' && locationDetails.address != undefined"><strong>Address:&nbsp;</strong><span>{{locationDetails.address}}</span><br></div>
      <div *ngIf="locationDetails.contactNum != '' && locationDetails.contactNum != undefined"><strong>Contact:&nbsp;</strong><span>{{locationDetails.contactNum}}</span><br></div>
      <div *ngIf="locationDetails.manager_name != '' && locationDetails.manager_name != undefined"><strong>Manager Name:&nbsp;</strong><span>{{locationDetails.manager_name}}</span><br></div>
      <div *ngIf="locationDetails.facility_type != '' && locationDetails.facility_type != undefined"><strong>Facility Type:&nbsp;</strong><span>{{locationDetails.facility_type}}</span></div>
      <div *ngIf="locationDetails.category != '' && locationDetails.category != undefined"><strong>Category:&nbsp;</strong><span>{{locationDetails.category}}</span> </div>
      <div *ngIf="locationDetails.status != '' && locationDetails.status != undefined"><strong>Status:&nbsp;</strong><span>{{locationDetails.status}}</span> </div>
      <div *ngIf="locationDetails.provider_website != '' && locationDetails.provider_website != undefined"><strong>Website:&nbsp;</strong><span>{{locationDetails.provider_website}}</span><br></div>
      <div *ngIf="locationDetails.gents != '' && locationDetails.gents != undefined"><strong>Gents:&nbsp;</strong><span>{{locationDetails.gents}}</span> </div>
      <div *ngIf="locationDetails.ladies != '' && locationDetails.ladies != undefined"><strong>Ladies:&nbsp;</strong><span>{{locationDetails.ladies}}</span></div>
      <div *ngIf="locationDetails.zone != '' && locationDetails.zone != undefined"><strong>Zone:&nbsp;</strong><span>{{locationDetails.zone}}</span></div>
      <div *ngIf="locationDetails.source != '' && locationDetails.source != undefined"><strong>Source:&nbsp;</strong><span>{{locationDetails.source}}</span></div>
      <div *ngIf="locationDetails.constituency != '' && locationDetails.constituency != undefined"><strong>Constituency:&nbsp;</strong><span>{{locationDetails.constituency}}</span></div>
      <div *ngIf="locationDetails.party != '' && locationDetails.party != undefined"><strong>Party:&nbsp;</strong><span>{{locationDetails.party}}</span></div>
      <div *ngIf="locationDetails.cityName != '' && locationDetails.cityName != undefined"><strong>City Name:&nbsp;</strong><span>{{locationDetails.cityName}}</span></div>
      <div *ngIf="locationDetails.email != '' && locationDetails.email != undefined"><strong>Email:&nbsp;</strong><span>{{locationDetails.email}}</span></div>
      <div *ngIf="locationDetails.description != '' && locationDetails.description != undefined"><strong>Description:&nbsp;</strong><span>{{locationDetails.description}}</span></div>
      <div *ngIf="locationDetails.campaignEnd != '' && locationDetails.campaignEnd != undefined"><strong>Campaign End:&nbsp;</strong><span>{{locationDetails.campaignEnd}}</span></div>
      <div *ngIf="locationDetails.url != '' && locationDetails.url != undefined"><strong>URL:&nbsp;</strong><span>{{locationDetails.url}}</span></div>
      <div *ngIf="locationDetails.DateOfCompliant != '' && locationDetails.DateOfCompliant != undefined"><strong>Date Of Compliant:&nbsp;</strong><span>{{locationDetails.DateOfCompliant}}</span></div>
      <div *ngIf="locationDetails.complaintNumber != '' && locationDetails.complaintNumber != undefined"><strong>Complaint Number:&nbsp;</strong><span>{{locationDetails.complaintNumber}}</span></div>
      <div *ngIf="locationDetails.NoOfLikes != '' && locationDetails.NoOfLikes != undefined"><strong>No Of Likes:&nbsp;</strong><span>{{locationDetails.NoOfLikes}}</span></div>
      <div *ngIf="locationDetails.wards != '' && locationDetails.wards != undefined"><strong>Wards:&nbsp;</strong><span>{{locationDetails.wards}}</span></div>
    </agm-info-window>
  </agm-marker>
</agm-map>